.wrapper {
    width: 75%;
    flex-direction: column;
}
.title {
    padding-bottom: 12px;
    font-size: 1.2em;
}
.inputRegister {
    border: 1px solid;
    border-radius: 15px;
    padding: 4px 10px;
}
.registerButton {
    width: 120px;
    background-color: #008000a8;
    border-radius: 17px;
}
.registerButton button {
    background-color: transparent;
    font-weight: 400;
    color: white;
    padding: 8px 0px;
}
.error {
    width: 100%;
    margin-top: 20px;
    background-color: #ff000061;
    text-align: center;
    border-radius: 6px;
    padding: 1% 0;
    font-weight: 400;
    font-size: 0.8em;
}
@media (max-width: 575px) {
    .wrapper {
        width: 100%;
    }
}